<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="/">
                <img src="/assets/images/pwb-logo-v1.png" alt="Logo" />
            </a>

            <button class="button navbar-burger" (click)="menuOpen = !menuOpen">
                <span></span>
                <span></span>
                <span></span>
            </button>

        </div>
      </div>
</nav>
